<div class="page d-flex justify-content-center align-items-center">

    <div class="col-md-5">

        <div class="card bg-success p-2" style="--bs-bg-opacity: .5;">
            <div class="text-right p-2">
                <h2 style="color: #C6011F;">Big Discount</h2>
            </div>
            <div class="text-center"> <small class="text-uppercase flat">Flat</small> </div>
            <div class="d-flex justify-content-center px-2">
                <div class="d-flex flex-row">
                    <h1 class="mt-0 off">50% OFF</h1> <sup class="mt-2 text-primary star">*</sup>
                </div>
            </div>
            <div class="line">
                <hr>
            </div>
            <div class="text-center mb-5"> <span class="text-uppercase">Valid till {{date | date}}</span> </div>
        </div>
    </div>

</div>