:host {
  .loader-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000033;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
