<div class="container-fluid">
    <h1>Available Skippers</h1>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody *ngFor="let person of people">
                <tr *ngIf="person.isSkipper">
                    <td scope="row">{{person.id}}</td>
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.username}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.location}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-loader [loading]="loading"></app-loader>