<div class="
        d-flex 
        flex-column 
        flex-shrink-0 
        p-3
    " style="
        width: 280px; 
        height: 100%;
        background-color: #dce9ff;
    ">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">{{role}}</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <ng-container *ngFor="let menuItem of menuItems">
            <li *ngIf="!menuItem.onlyDisplayFor || menuItem?.onlyDisplayFor === role">
                <a href="{{menuItem.link}}" class="nav-link"
                    [ngClass]="{'link-dark': !menuItem.active, 'active': menuItem.active}">
                    <div class="d-flex">
                        <span class="material-symbols-outlined"> {{menuItem.icon}} </span>
                        {{menuItem.title}}
                    </div>
                </a>
            </li>

        </ng-container>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined">account_circle</span>
            <strong>{{fullName}}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" (click)="logOut()">Sign out</a></li>
        </ul>
    </div>
</div>